<%- include('./partials/head') %>
<div class="filter"></div>
<main class="detail">
    <% items.forEach(item => { %>
  <div>
    <img class="detail-img" src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" alt="" width="500" height="900">
    <form action="/detail/<%= item.id %>" method="post">
      <button class="add">
          <!-- SVG icon -->
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="<%= bookmarkFill %>" stroke="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16" data-id="<%= item.id %>">
            <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2"/>
        </svg>            
      </button>
    </form>
    <button class="info-button"><i class='bx bx-chevron-up'></i></button>
  </div>
    <article class="item-info">
      <h2><%= item.title %></h2>
      <p><b>Sammenvatting:</b>
        <%- item.description %></p>
        <!-- <p><b>type: </b><%= item.type %></p>
        <p><b>oba link: </b><%= item.oba_link %></p>
        <p><b>uitgever: </b><%= item.publisher %></p>
        <p><b>taal: </b><%= item.language %></p>
        <p><b>kenmerken: </b><%= item.characteristics %></p>
        <p><b>onderwerp: </b><%= item.subject %></p>
        <p><b>ISBN: </b><%= item.ISBN %></p>
        <p><b>pica nummer: </b><%= item.pica_number %></p>
        <p><b>SISO: </b><%= item.SISO %></p>
        <p><b>editie: </b><%= item.editie %></p>
        <p><b>auteur: </b><%= item.auteur %></p>
        <p><b>vertaler: </b><%= item.vertaler %></p>
        <p><b>genre: </b><%= item.genre %></p>
        <p><b>datum: </b><%= item.datetime %></p>
        <p><b>prijs: €</b><%= item.price %></p>
        <p><b>locatie: </b><%= item.location %></p> -->
        <form action="/detail/<%= item.id %>" method="post" class="recensie">
          <fieldset class="summary">
              <legend>Laat een recensie achter</legend>
              <textarea name="review" id="review" rows="4" cols="50" placeholder="hier je recensie"></textarea>
              <input type="submit" value="Verzenden">
          </fieldset>
      </form>
    </article>
    <dialog class="item-added">
      <button><i class='bx bx-x'></i></button>
      <%= item.title %>
      <img src="https://fdnd-agency.directus.app/assets/<%= item.afbeelding %>" alt=""/>
      <a href="/leeslijst">Bekijk je lijst</a>
    </dialog>
    <% }) %>
</main>

<%- include('./partials/foot') %>
