<%- include('./partials/head') %>
<main class="index">
  <article>
    <h2>Boeken</h2>
  
      <i class='bx bx-search icon'></i>
      <input type="text" placeholder="Zoek...">
    
    <ul>
        <% items.filter(item => item.item_type === 'book').forEach(book => { %>
        <li>
            <a href="./detail/<%= book.id %> ">
              <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image" height="300" width="200" loading="lazy">
              <div>
                <p><%= book.auteur %></p>
              </div>           
            </a>       
        </li>        
        <% }); %>
    </ul>
    <h2>CD's</h2>
    <ul>
        <% items.filter(item => item.item_type === 'cd').forEach(cd => { %>
        <li>
            <a href="./detail/<%= cd.id %>">
              <img src="https://fdnd-agency.directus.app/assets/<%= cd.afbeelding %>" alt="<%= cd.title %> Image" height="300" width="200" loading="lazy">
              <div>
                <p><%= cd.auteur %></p>
              </div>           
            </a>
        </li>
        <% }); %>
    </ul>
    <h2>Activiteiten</h2>
    <ul>
        <% items.filter(item => item.item_type === 'activity').forEach(activity => { %>
        <li>
            <a href="./detail/<%= activity.id %>">
              <img src="https://fdnd-agency.directus.app/assets/<%= activity.afbeelding %>" alt="<%= activity.title %> Image" height="300" width="200" loading="lazy">
              <div>
                <p><%= activity.datetime %></p>
              </div>           
            </a>
        </li>
        <% }); %>
    </ul>
  </article>
</main>
<%- include('./partials/foot') %>